*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-family: "Open Sans", sans-serif; 

}

body{
    background-color: #F5F4F0;
    border-color: #D9D9D9;
}
main{
    margin: 88px 80px;
}



.img1{
    border-radius: 28px;
    width: 1120px;
    height: 729;
}
.img2{
    border-radius: 28px;
    width: 1120px;
    height: 350;
}
.img3{
    border-radius: 28px;
    width: 1120px;
    height: 350;
}
.img4{
    border-radius: 28px;
    width: 1120px;
    height: 350;
}


.h1{
    font-family: "Open Sans", sans-serif; 
    font-size: 36px;
    font-weight: bold;   
    color: #1B1B1B;
}
.h2{
    font-family: "Open Sans", sans-serif; 
    font-size: 32px;
    font-weight: bold;  
    color: #333333; 
}
.h3{
    font-family: "Open Sans", sans-serif; 
    font-size: 28px;
    font-weight: bold;   
    color: #696969;
}
.headline{
    font-family: "Open Sans", sans-serif; 
    font-size: 16px;
    font-weight: bold;   
    color: #E1624F;
}
.paragraph{
    font-family: "Open Sans", sans-serif; 
    font-size: 16px;
    font-weight: normal;
    color: #333333; 

}
.subtitle{
    font-family: "Open Sans", sans-serif; 
    font-size: 16px;
    font-style:  italic;   
    text-align: center;
}

ol{
    margin-left: 50px
}

.accentBlue{
    color: #0C51A7;
    font-weight: bold;
}
.accentOrange{
    color: #E95E10;
    font-weight: bold;

}
.accentPink{
    color: #E5245E;
    font-weight: bold;

}
.accentPurple{
    color: #591B98;
    font-weight: bold;

}

.textPrimary{
    font-family: "Open Sans", sans-serif; 
    font-size: 16px;
    font-weight: bold;   
    color: #1B1B1B;
}
.textSecundary{
    font-family: "Open Sans", sans-serif; 
    font-size: 16px;
    color: #333333; 
    font-weight: normal;

    text-align: center;
}
.textTerciary{
    font-family: "Open Sans", sans-serif; 
    font-size: 16px;
    font-weight: bold;   
    color: #696969;
}
